.bg-parallax {
    background: url(../images/bg.jpg) fixed;
    position: relative;
}

.underline {
    content: '';
    border-top: 2px solid lightseagreen;
    width: 70px;
    display: block;
    margin-bottom: 8px;
    margin: 0 auto;
}

.bg-contato {
    background: rgb(31,191,120);
    background: linear-gradient(162deg, rgba(31,191,120,1) 0%, rgba(0,157,255,1) 49%, rgba(72,11,159,1) 95%);
}

body {
    margin-top: 115px;
}

.carousel-item {
    opacity: 0.8;
    filter: alpha(opacity=80);
}